
Esra.Web/connectionStrings.config
Esra.Web/appSettings.config
.vs/ESRA/v15/Server/sqlite3/db.lock
Esra.Web/obj/Debug/Esra.Web.pdb
Esra.Web/bin/Esra.Web.pdb
Esra.Web/bin/Esra.Web.pdb
Esra.Web/obj/Debug/Esra.Web.pdb
*.pdb
Esra.Web/bin/Esra.Web.dll
Esra.Web/obj/Debug/Esra.Web.dll
.vs/ESRA/v15/Server/sqlite3/storage.ide-wal
Esra.Core/bin/Release/Esra.Core.dll
Esra.Core/bin/Release/Esra.Core.pdb
Esra.Core/bin/Release/Microsoft.CSharp.dll
.vs/ESRA/v15/Server/sqlite3/storage.ide-wal
