@model Esra.Web.Models.EmployeeSalaryComparisonViewModel
@{
    ViewBag.Title = "Employee Selection";
}
<div id="result">
    @{
        @Html.Partial("_EmployeeTitleDepartmentSelectLists");
    }
</div>