@{
    ViewBag.Title = "About";
}
<h2>
    Employee Salary Review and Analysis (ESRA)</h2>
<p>
    <br />
    ESRA is an application that consolidates payroll, personnel, and job pay rate/classification<br />
    data from several different sources into a single application.<br />
    <br />
    This data is then used to compare and analyze salaries among various titles<br />
    and/or personnel in order to formulate and propose salary adjustments due to equity
    considerations<br />
    or reclassification.
    <br />
    <br />
    Prior to this application various data sources would need to be accessed
    <br />
    individually, and then combined into an Excel spreadsheet for comparison.
    <br />
    <br />
    The pilot system originally consisted of 21 users, but was ultimately intended<br />
    to be used by many more once the pilot program had been completed.<br />
</p>