@model Esra.Web.Models.HomeViewModel
@using Esra.Web.Resources
@using System.Web.Configuration
@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Message</h2>
<div id="demo-role-selector">
    @{
        if (Model.IsDemoMode)
        {
        @Html.Partial("_DemoRoleSelector")
        }
    }
</div>
<div id="menu">
    @{
        if (!String.IsNullOrEmpty(Model.MenuViewName))
        {
        @Html.Partial(Model.MenuViewName)
        }
    }
</div>
<div id="emulate-user">
    @{
        if (User.IsInRole(GlobalConstants.ROLE_EMULATION_USER))
        {
        @Html.Partial("_EmulateUser")
        }
    }
</div>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>