* {
	padding: 0;
	margin: 0;
	border-color:#000000;
}
input, select, textarea
{
    border-color:#f0f0f0;
}
body
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
/*
	min-width: 2000px;
*/
	font-size:.9em;
	text-align: left;
	background-color:#242424;
	color:#FFFFFF;
}

/* --------- column layout -------------- */
#all 
{
    clear:both;
}
/* #main {width:2000px;} */
.left_col 
{
/*
    width: 320px;
    float: left;
*/ 
    margin-left: 0px; 
    background-image:url(../images/common/top_right_corner.gif);
    background-position:top right;
	background-repeat:no-repeat;
	background-color: #FFFFFF;
	padding:5px;
	color:#000000;
	}
.right_col 
{
/*    
    float: left; 
    width:1500px; 
*/
    margin-left: 20px; 
    background-image:url(../images/common/top_left_corner.gif);
    background-position:top left;
	background-repeat:no-repeat;
	background-color: #FFFFFF;
	padding:10px;
	padding-bottom:20px;
	color:#000000;
    }

.right_col_small
{
    width:600px; 
    margin-left:340px;
    background-image:url(../images/common/small_container.gif);
    background-position:top;
	background-repeat:no-repeat;
	background-color: #FFFFFF;
	padding-bottom:20px;	
	color:#000000;
}
.right_col_med
{
    width:800px; 
    margin-left:100px;
    background-image:url(../images/common/medium_container.gif);
    background-position:top;
	background-repeat:no-repeat;
	background-color: #FFFFFF;
	padding-bottom:20px;
	color:#000000;	
}
.right_col_small div 
{
    padding:10px;
}
.right_col_med #ESCR_table td,.right_col_med #ESCR_table  th,.right_col_med #ESCR_table  tr,.right_col_med #ESCR_table table 
{
    padding:2px;
    margin:0 0 0 20px;
}

.right_col_med #ESCR_table th
{
    padding:2px;
}

    
.right_col table
{
    background-color:#FFFFFF;
}
.title p
{
    text-align:left;
    display: none;
}
.title a
{
    color:#FFFFFF;
    text-decoration:none;
}
select 
{
    font-size:.9em;
}
/* esra the dino top left */
#logo {
	float: left;
	margin: 10px 0 0 5px;
}
#header 
{
    height:55px;
    background-color:#000000;
}
#ESCR_table .tr_head
{
    background-color:#000000;
    color:#FFFFFF;
    font-weight:bold;
    border: none;
	vertical-align: bottom;
	text-align:center;
	margin-left:0px;
}

#ESCR_table .tr_head th
{
    border:1px solid #000000;
}

#nav ul {list-style: none; padding: 0px; margin: 0 0 0 300px;}
#nav a {color: #FFFFFF; text-decoration: none;}
#nav img {border: none; margin-top: 5px; margin-bottom:-10px;}
#nav input { margin-top: 5px; margin-bottom:-10px;}
#nav li li a {display: block; font-weight: normal; padding: 0px;}
#nav li li a:hover {padding: 0px; color:#7BCC12} 
#nav li {float: left; position: relative; text-align: center; padding: 0px; font-size:0.8em;}
#nav > ul li {padding: 22px 5px;}
#nav > ul li li {padding: 0 5px;}
html>/**/body #nav li ul {display: none; position: absolute; margin-top:0em; right:-5px; font-weight: normal; width:100%;}  /* Only FireFox 3 */
#nav li ul {display: none; position: absolute; margin-top:1.2em; right:-5px; font-weight: normal; width:100%;}    
#nav li > ul {top: auto; left: auto;}
#nav li li {display: block; float: none; background-color: #242424; border: 0; font-size:1em; text-align:left;}
#nav li:hover ul, li.over ul {display: block;}	


.right_col table
{
	background-color: #FFFFFF;
	border-collapse: collapse;
}

.right_col table td a
{
    color:#000000;
}

#ESCR_table th a
{
    color:#FFFFFF;
}

#ESCR_table table
{
    margin-bottom:10px;
}


#ESCR_table td
{
    vertical-align: middle;
    text-align:center;
	padding: .1em;
	border-color: #000000;
    border-style: solid;
	border-width: 1px;
	margin: 0 0 0 1px;
}

.right_col td
{
    vertical-align: middle;
    text-align:center;
	padding: .1em;
	margin: 0 0 0 1px;
}
#ESRA_table td .buttons
{
    text-align:left;
}

.right_col a
{
    color:#FFFFFF;
    text-decoration:none;
}

.h2_black
{
    color:#FFFFFF;
    background-image:url(../images/common/top_left_corner_BLACK.gif);
    background-position:top left;
	background-repeat:no-repeat;
    background-color:#000000;
    margin-bottom:0px;
    padding: 0 0 0 1em;
    font-size:1.3em;
    margin-left:-1px;
}

#page_title
{
    color:#FFFFFF;
    font-size:1.5em;
    margin-left:360px;
    margin-top:50px;
    margin-bottom:10px;
}

.left_col td
{
    padding-bottom:5px 0 5px 0;
}

#title 
{
    margin-top:-20px;
}
h2
{
    font-size:1.3em;
    margin-bottom:10px;
    text-align:left;
}
#nav_bottom
{
    color:#FFFFFF;
    padding-left:25px;
}
#nav_bottom a
{
    color:#FFFFFF;
    font-weight:bold;
}


#ESCP_report_generation_criteria td
{
    padding: 5px 10px 5px 0;
}
#ESCP_report_generation_criteria td td
{
    padding: 5px 5px 5px 0;
}
#ESCP_report_generation_criteria th
{
    padding: 5px 5px 5px 0;    
}
.paddingRight
{
    padding-right:10px;
}
.right_col a
{
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
.right_col_med a
{
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
img
{
    border:none;
}
.right_col #SRA_table td 
{
    text-align:left;
    vertical-align:bottom;
    padding-right:10px;
}
.right_col #SRA_table th 
{
    text-align:left;
    vertical-align:bottom;
    padding:5 10 5 10px;
}
#SRA_table
{
    margin-bottom:10px;
}

.right_col #ESCR_table td 
{
    padding:5px;
    max-width:300px;
}
.right_col #ESCR_table th 
{
    padding:10px;
}

/*** Nav bar styles ***/

ul#ESCR_criteria,
#ESCR_criteria ul{
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
	
}

ul#ESCR_criteria{
/*	display: table; */
}
/* ul#ESCR_criteria>li{
	display: table-cell;
	position: relative;
	padding: 0 50px 0 0;
	text-align: left;

}
*/
ul#ESCR_criteria>li
{
    text-align: left;
    margin-left:20px;
    float:left;
}

ul #ESCR_criteria td
{
    text-align:left;
}
#ESCR_criteria td
{
    text-align:left;
}

.right_col #ESCR_criteria td
{
    padding:3px;
    text-align:left;
}

#ESCR_criteria select
{
    margin:20px 0 10px 0;
    text-align:left;
}

#ESCR_criteria table
{
    text-align:left;
}

#ESCR_criteria option
{
    text-align:left;
}

.display_none
{
    display:none;
}
option:link
{
    background-color:#7bcc12;
}
option:visited
{
    background-color:#7bcc12;
}
option:active
{
    background-color:#7bcc12;
}
option:hover
{
    background-color:#7bcc12;
}
#AddUserPannel
{
    float:left;
    background-image:url(../images/common/top_right_corner.gif);
    background-position:top right;
	background-repeat:no-repeat;
	background-color: #FFFFFF;
    
}

/* ajax calendar */

.right_col #ESCR_table .calendar td 
{
    padding-top:10px;
    padding:0px;
}

.calendar .ajax__calendar_body
{
    padding-top:10px;
}
.calendar .ajax__calendar_container
{	
	padding-top:10px;
	background: #CCCCCC;
	border:solid 1px black;
}
.calendar .ajax__calendar_month
{
    margin-top:10px;
    padding-top:10px;
    margin-left:10px;
    margin-right:-10px;
}
.calendar .ajax__calendar_days td
{
    padding:2px;
}
.calendar .ajax__calendar_days thead, .calendar .ajax__calendar_days th
{
    border-top:solid 1px black;
}
.calendar .ajax__calendar_header
{
    margin-bottom:10px;
}
.right_col #SRA_table .calendar td
{
    padding-right:0px;
}
.edit_header 
{
    font-weight: bold; font-size: 0.9em; 
    padding:10px 0 10px 0;
    width: 100%; display: block;
    background: url(../images/common/edit_stripe_green.png);
}
.edit_header p
{
    
}


/*Modal Popup*/

.modalBackground2 {
	background-color:#343434;
	filter:alpha(opacity=90);
	opacity:0.9;
}
.modalPopup {
	background-color:#EFEFEF;
	border : 1px solid #000000;
}

.right_col_small .modalPopup , .right_col .modalPopup , .right_col_med .modalPopup {
	background-color:#EFEFEF;
	border : 1px solid #000000;
}

.right_col_small .modalPopup div div, .right_col .modalPopup div div, .right_col_med .modalPopup div div
{
    padding:0px;
    margin:0px;
}

.modalPopup th{
	padding:2px;
}
.modalPopup td{
	padding:2px 10px 2px 2px;
}

.modalBackground
{
     background-color: Gray;
     filter: alpha(opacity=50);
     opacity: 0.50;
}
.modalTitle 
{
	border : 1px solid #000000;
	position : relative;
	top : -10px;
	left : 25px;
	background-color : #000;
	padding : 5px 10px;
	color:#7bcc12;
	font-size: 1.2em;
	font-weight: bold;
}

#divSelectQuartile
{
    margin: 0 0 20px 20px;
    padding-top:20px;
}

#SSUIF .h2_black
{
    margin-left:0px;
}

#SGQUIF .h2_black
{
    margin-left:20px;
}
#SGQUIF 
{
    margin-right:20px;
}
#SSUIF
{
    margin-right:10px;
    margin-left:10px;
}

#SSUIF td 
{
    max-width:250px;
}

#SSUIF table
{
    width:100%;
    margin-right:20px;
    
}
.right_col_med #ESCR_table #SSUIF td, .right_col_med #ESCR_table #SSUIF th,.right_col_med #ESCR_table #SSUIF tr,.right_col_med #ESCR_table #SSUIF table 
{
    padding:2px;
    margin:0 0 0 0px;
}
#SARP_table table
{
    margin: 20px 0 0 0;
}
.right_col #SARP_table td
{
    padding:5px 10px 5px 10px;
    text-align:left;
}
.right_col #SARP_table th
{
    padding:5px 10px 5px 10px;
}
.right_col #SRA_scale td td td
{
    text-align:left;
    padding: 4px 5px 4px 0;
}
.right_col #SRA_scale td td th
{
    text-align:left;
    padding: 4px 5px 4px 5px;
}
.right_col_med #UAP div
{
    padding:0;
}
.right_col_med #UAP p
{
    margin-bottom:10px;
}
.right_col_med #UAP th
{
    text-align:center;
    padding: 0 5px 0 5px;
}
.right_col_med #UAP td
{
    text-align:left;
    border:none;
    padding: 0 5px 0 5px;
}

.right_col_med #UAP table
{
    padding: 0;
    margin:0;
}


.right_col_med #UAP .h2_black
{
    margin:left:20px;
}
#UAP
{
    padding-top:20px;
    margin:20px;
}
.right_col_small #SGQUIF th
{
    text-align:center;
}
.right_col_small #SGQUIF td
{
    text-align:left;
    border:none;
}

.tr_alt
{
    background-color:#CCCCCC;
}
.light_green
{
    background-color:#97d092;
}

.bold
{
    font-weight:bold;
}

.light_green_edit
{
    padding:2px 5px 2px 5px;
}

.note
{
    clear:both;
    margin-left:20px;
    margin-bottom:20px;
}
.back_button
{
    margin-top:10px;
}
.right_col #ESCR_table #SSUIF_pannel th
{
    padding:0px;
}
.right_col #ESCR_table #SSUIF_pannel td
{
    padding:0 5px 0 5px;
}
.right_col #ESCR_table #SSUIF_pannel
{
    margin-left:10px;
    margin-right:0px;
    width:auto;
}
.right_col #ESCR_table #SSUIF_pannel th, .right_col #ESCR_table #SSUIF_pannel td
{
    padding:5px;
}
.right_col #ESCR_table #SSUIF #SSUIF_addnew td
{
    padding:0px;
}
.right_col #ESCR_table #SSUIF #SSUIF_addnew table
{
    margin-bottom:0px;
}

.right_col_small table .tr_head a, .right_col table .tr_head a, .right_col_med table .tr_head a
{
    text-decoration:underline;
}


.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 180px;
	height: 75px;
} 
.updateProgress br
{
    margin-top:-10px;
    margin-bottom:10px;
} 

.green_hover a:hover
{
    color:#7bcc12;
}

.comments
{
	width:600px;
}

.collapsePanel {
	height:0px;
	overflow:hidden;
}

.watermark
{
    color: #aaa;
    font-style:italic;
}