@{
    ViewBag.Title = "Employees";

}

@section AdditionalScripts{

    <script src="@Url.Script("DataTables-1.8.0/media/js/jquery.dataTables.js")" type="text/javascript"></script>

    <script>
        $(function () {
            $('#employees').dataTable({
                "bProcessing": true,
                //"bServerSide": true,
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sAjaxSource": '@Url.Action("List")'
            });
        });
    </script>

}

<table id="employees">
    <thead> 
		<tr> 
			<th>Id</th> 
			<th>First</th> 
			<th>Last</th> 
		</tr> 
	</thead> 
    <tbody>
    </tbody>
</table>