@{
    ViewBag.Title = "Employees";

}

@section AdditionalScripts{

    <link href="../../Css/jquery.multiselect.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Script("DataTables-1.8.0/media/js/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="../../Scripts/jquery.multiselect.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            var dtable = $('#employees').dataTable({
                "bProcessing": true,
                //"bServerSide": true,
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sAjaxSource": '@Url.Action("List")'
//                "fnServerData": function (sSource, aoData, fnCallback) {
//                    var filterData = $("form").serialize();
//                    console.log(filterData);
//                    /* Add some extra data to the sender */
//                    $.getJSON(sSource + "?" + filterData, aoData, function (json) {
//                        fnCallback(json)
//                    });
//                }
            });

            $("#titleCodes")
                .multiselect({
                    noneSelectedText: 'Select titles to filter by.  Leave blank for *All Titles*',
                    selectedList: 4,
                    minWidth: 500
                }).multiselectfilter();

            $("form").submit(function(e){
                e.preventDefault(); //don't post, do an ajax call
                dtable.fnReloadAjax(dtable.fnSettings());
            });
        });

        $.fn.dataTableExt.oApi.fnReloadAjax = function (oSettings) {
            var filterData = $("form").serialize();
            oSettings.sAjaxSource = oSettings.sAjaxSource + "?" + filterData;
            this.fnClearTable(this);
            this.oApi._fnProcessingDisplay(oSettings, true);
            var that = this;

            $.getJSON(oSettings.sAjaxSource, null, function (json) {
                /* Got the data - add it to the table */
                for (var i = 0; i < json.aaData.length; i++) {
                    that.oApi._fnAddData(oSettings, json.aaData[i]);
                }

                oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                that.fnDraw(that);
                that.oApi._fnProcessingDisplay(oSettings, false);
            });
        }
    </script>

}

@*@Html.DropDownList("department", new SelectList(ViewBag.TitlesList, "AbbreviatedName", "TitleCode"))*@

@using (Html.BeginForm()) { 
    <fieldset>
        <legend>Filter Results</legend>
        
        @this.MultiSelect("titleCodes").Options(ViewBag.TitlesList, "TitleCode", "AbbreviatedName").Selected(ViewBag.SelectedTitles)

        <input type="submit" value="Search" />
    </fieldset>
}

<br /><br />
<table id="employees">
    <thead> 
		<tr> 
			<th>Id</th> 
			<th>First</th> 
			<th>Last</th> 
		</tr> 
	</thead> 
    <tbody>
    </tbody>
</table>