<?xml version="1.0" encoding="utf-8" ?>
<Esra.Web.Properties.Settings>
      <setting name="Esra_Web_CatOps_CatbertWebService" serializeAs="String">
        <value>https://secure.caes.ucdavis.edu/catbert3/services/catbertwebservice.asmx</value>
      </setting>
  </Esra.Web.Properties.Settings>

  
