<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <!-- Production Report server and web service settings: -->
    <add key="ReportServer" value="http://reports.caes.ucdavis.edu/reportserver"/>
    <add key="CatOps.catbertwebservice" value="https://secure.caes.ucdavis.edu/catbert3/services/catbertwebservice.asmx"/>
    <add key="AdminPageURL" value="https://secure.caes.ucdavis.edu/catbert3/Management/UserManagement.aspx?app=Employee%20Salary%20Review%20Analysis"/>
  </appSettings>