<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CATBERT" connectionString="Data Source=donbot;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="MainDB" connectionString="Data Source=donbot;Initial Catalog=ESRA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="RATBERT" connectionString="Data Source=donbot;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="ESRA" connectionString="Data Source=donbot;Initial Catalog=ESRA;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>