<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Modernizr" version="1.7" />
  <package id="jQuery.Validation" version="1.8.0.1" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="CaesDesignBoilerplate" version="3.1.0.26" />
  <package id="UcdArchMvcTemplates" version="1.0.0.14" />
  <package id="UcdArchDlls" version="3.1.0.49" />
  <package id="jQuery" version="1.6.1" />
  <package id="jQuery.UI.Combined" version="1.8.13" />
  <package id="jquery.datatables" version="1.8.0" />
  <package id="MiniProfiler" version="1.2" />
</packages>