@model Esra.Web.Models.SalaryReviewAnalysisEditorViewModel
@{
    ViewBag.Title = "Create";
}
<div id="salary-review-analysis-editor">
    @using (@Html.BeginForm("Create", "SalaryReviewAnalysis", FormMethod.Post))
    {
        @Html.Partial("_SalaryReviewAnalysisEditor")
    }
</div>