<tr data-id=${dataId} class=${alternatingClass}>
                    <th id="scenarioNumber" class=" sorting_1">
                        ${scenarioNumber}.
                    </th>
                    <td>
                        
                        <div class="editor-field">
                            <select name="SalaryReviewAnalysis.Scenarios[${i}].SelectionType" id="ddlSelectionType">
							${selectionTypeOptions}
</select>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            
                            <input type="text" value=${percentIncrease} name="SalaryReviewAnalysis.Scenarios[${i}].PercentIncrease" id="tbPercentIncrease" data-val-number="The field PercentIncrease must be a number." data-val="true" class="percent">
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            
                            <input type="text" value=${salaryAmount} name="SalaryReviewAnalysis.Scenarios[${i}].SalaryAmount" id="tbSalaryAmount" data-val-number="The field SalaryAmount must be a number." data-val="true" class="currency">
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="checkbox" value="true" name="SalaryReviewAnalysis.Scenarios[${i}].Approved" id="SalaryReviewAnalysis_Scenarios_${i}__Approved"><input type="hidden" value="false" name="SalaryReviewAnalysis.Scenarios[${i}].Approved">
                        </div>
                    </td>
                    <td>
                        <input type="submit" id="btnResetScenario" value="Reset" name="btnReset">&nbsp;
                        <a class="buttons" id="btnDeleteScenario">
                            <img class="delete_button" alt="Delete" src="../../Images/delete.png"></a>
                    </td>
                </tr>