@model Esra.Web.Models.SalaryScaleViewModel
@section AdditionalScripts{
}
<div>
    <fieldset class="display-form">
        <legend>Salary Scales</legend>
        @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Get))
        {
            //@Html.AntiForgeryToken()
            <ul>
                <li>@Html.Label("Search by Title Code")</li>
                <li>
                    <div class="editor-field ui-widget">
                        @Html.DropDownListFor(x => x.TitleCode,
                        new SelectList(Model.Titles.OrderBy(x => x.TitleCode),
                            "TitleCode",
                            "TitleCode",
                             Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty),
                            "--Select a Title Code--", new { id = "titlecode-drop-down" }
                            )
                    </div>
                </li>
            </ul>

            // end SelectTitleCodeForm
        }
        -- or --
        @using (Html.BeginForm("Details", "SalaryScale", FormMethod.Get))
        {
            <ul>
                <li>@Html.Label("Search by Payroll Title")</li>
                <li>
                    <div class="editor-field ui-widget">
                        @Html.DropDownListFor(x => x.TitleCode,
                        new SelectList(Model.Titles,
                            "TitleCode",
                            "PayrollTitle_TitleCode",
                             Model.Title != null ? Model.Title.TitleCode.ToString() : string.Empty),
                     "--Select a Title--", new { id = "title-drop-down" }
                            )
                    </div>
                </li>
            </ul>

            // end SelectTitleForm
        }
    </fieldset>
</div>