@model Esra.Web.Controllers.SalaryScaleViewModel

@{
    ViewBag.Title = "Details2";
}

<h2>Details2</h2>


@section SubNav
{
	<ul class="navigation">
					<li>@Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
			</ul>
}

<fieldset class="display-form">
    <legend>SalaryScaleViewModel</legend>
	<ul>
	</ul>
</fieldset>


