@model Esra.Web.Models.SalaryScaleViewModel
@{
    ViewBag.Title = "Salary Scale";
}
<div>
    <div id="selectlists">
        @Html.Partial("_SalaryScaleSelectLists")
    </div>
    <div id="result">
        @{
            if (Model.SalaryScale.TitleCode != null)
            {
            @Html.Partial("_SalaryScale")
            }
            else
            {
            <fieldset>
                <h3>
                    No Salary Data Available</h3>
            </fieldset>
            }
        }
    </div>
    <script type="text/javascript">
        $('select').change(function () {
            $(this).parents('form').submit();
        });
    </script>
</div>