@model Esra.Web.Models.SalaryScaleViewModel
@{
    ViewBag.Title = "Salary Scale";
}
<div>
    <div id="selectlists">
        @Html.Partial("_SalaryScaleSelectLists")
    </div>
    <div id="result">
        @{
            if (Model.SalaryScale.TitleCode != null)
            {
            @Html.Partial("_SalaryScale")
            }
            else
            {
            <fieldset>
                <h3>
                    No Salary Data Available</h3>
            </fieldset>
            }
        }
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            var availableTitleCodes = [];
            var availableTitles = [];

            $($("#titlecode-drop-down")[0].options).each(function (i, val) {
                availableTitleCodes[i] = $(val).val();
            });

            $($("#title-drop-down")[0].options).each(function (i, val) {
                availableTitles[i] = $(val).text();
            });

            $("#titlecode-drop-down").combobox({
                source: availableTitleCodes,
                delay: 0,
                selected: function (event, ui) {
                    // Event handling code goes here.
                    $(this).parents('form').submit();
                }
            }); // combobox });

            $("#title-drop-down").combobox({
                source: availableTitles,
                delay: 0,
                selected: function (event, ui) {
                    //debugger;
                    // Event handling code goes here.
                    $(this).parents('form').submit();
                } // selected
            }); // combobox });

        });

        $('select').change(function () {
            //debugger;
            $(this).parents('form').submit();
        });

    </script>
</div>