@*@model Esra.Core.Domain.Title*@
@using System.Web.UI.WebControls
@using AutoMapper
@model Esra.Web.Models.SalaryScaleViewModel
@section AdditionalScripts{
}
@{
    ViewBag.Title = "Salary Scale Selection";
}

<div id="headertext" style="font-size: 14px; font-weight: bold; font-style: italic; ">
	<p style="margin: 10px 0 20px;">
		Note: Official UCOP Non-Academic Salary Scales may be found here: <a href=@(System.Configuration.ConfigurationManager.AppSettings["UCOPNonAcademicTitlesUrl"])>UCOP Non-Academic Titles</a>
	</p>
</div>

<div id="result">
    @{
        @Html.Partial("_SalaryScaleSelectLists");
    }
    
    <script language="JavaScript" type="text/javascript">
    <!--        //
        $(document).ready(function () {
            var availableTitleCodes = [];

            $($("#title-drop-down")[0].options).each(function (i, val) {
                //availableTitles[i] = $(val).text();
                availableTitleCodes[i] = $(val).val();
                availableTitleCodes.sort();

            });

            $("#title-drop-down").combobox({
                delay: 0,
                selected: function (event, ui) {
                    //debugger;
                    // Event handling code goes here.
                    $(this).parents('form').submit();
                } // selected
            }); // combobox });

            $('select').change(function () { $(this).parents('form').submit(); });

            $("input#titlecode-textbox").autocomplete({
                source: availableTitleCodes,
                delay: 0,
                select: function (event, ui) {
                    //debugger;
                    // Event handling code goes here.
                    $(this).val(ui.item.value); // set the text box's value to that selected from the list
                    $(this).parents('form').submit();
                } // selected
            });

            $("#toggle").click(function () {
                $("#title-drop-down").toggle();
            });

        });

//-->
    </script>
</div>
<div id="salaryscale-results">
</div>